.titleLine {
    padding: 1.5rem;
    width: fit-content;
    max-width: 100%;
    text-align: left;
}
.titleLine h1 {
    margin: 0;
    text-align: left;
}

.whiteBg {
    background-color: white;
}

.description {
    color: var(--color-text);
    max-width: 25rem;
    padding: 1rem;
    padding-bottom: .25rem;
}
.description>p {
    margin-top: 0;
}

.content {
    padding: 0 128px;
}

.heroButtons {
    padding-top: 64px;
    display: flex;
}

.buttonsSpacer{
    width: 36px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

@media screen and (max-width: 480px) {
    .heroSubtitle {
        display: none;
    }

    .heroButtons {
        width: 100%;
        padding: 64px 10% 0 10%;
        flex-wrap: wrap;
    }

    .buttonsSpacer {
        height: 36px;
    }
}
