.title {
    font-family: var(--font-family-hero);
    font-weight: bold;

    font-style: normal;
    font-weight: 500;
    color: black;

    text-align: left;

    margin: 0;

    align-self: flex-start;
}

.h1 {
    font-size: 36px;
    line-height: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.h2 {
    font-size: 32px;
    line-height: 36px;
    font-weight: bold;
}

.h3 {
    font-size: 26px;
    line-height: 32px;
    font-weight: bold;
}

@media screen and (max-width: 480px) {
    .h1 {
        font-size: 20px;
        line-height: 26px;
        text-align: center;
    }
    .h2 {
        font-size: 28px;
        line-height: 30px;
    }
}

