.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: white;
}

.picture {
    flex: 1;
    width: 50%;
    max-width: 1200px;
    min-width: 200px;
    padding: 1em 1em 0 0;
}

.picture img {
    display: block;
    width: 100%;
    object-fit: contain;
}

.text {
    flex: 1;
    /* color: var(--color-text); */
    padding: 0 1em 0;
    line-height: 1.5em;
}

@media screen and (max-width: 480px) {
    .container {
        flex-direction: column;
    }
    .picture {
        width: 100%;
        padding: 0;
    }
    .text {
        padding: 0;
    }
}