@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Roboto&display=swap');

:root {
    --border-radius: 0px;
    --button-border-radius: 5px;

    --color-logo: black;

    --color-text: black;
    --color-button: #d6424d;
    --color-gray: #232224;
    --color-green:  #ffd166;

    --font-family: 'Roboto', Helvetica, sans-serif;
    --font-size: 14px;
}

html,
body {
    padding: 0;
    margin: 0;
    font-size: var(--font-size);
    font-family: var(--font-family);
}

* { 
    box-sizing: border-box;
}

@media screen and (max-width : 480px) {
    :root {
        --font-size: 16px;
    }
}
